.detailsPageContainer {
    height: 100vh;
    background-color: white !important;
}

.displayContainer {
    width: 90%;
    margin: auto;
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
}

.sideProfile {
    flex: 1;
    margin: 3rem auto;
    width: 100%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.profilePic {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: .5rem;
}

.profilePic img {
    width: 250px;
    border-radius: 50%;
}

.profilePic h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.profilePic h2 {
    font-size: 1rem;
    font-weight: 300;
}

.follow {
    width: 80%;
    border: none;
    font-size: 20px;
    background-color: rgb(218, 218, 218);
    padding: 5px 0 !important;
}

.followings {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.detailsSide {
    flex: 3;
    width: 100%;
}

.details {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.extras {
    font-size: 16px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
}