@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Montserrat:wght@300&family=Quicksand:wght@500;600&family=Raleway:wght@300&family=Tiro+Bangla&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 45px;
  font-family: "Cinzel", sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
}

.second{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
  width: 90%;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  margin: 20px 50px;
  background: #000000;
  outline: none;
  opacity: 0.7;
  border-radius: 15px;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  background: #0491aa;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 35px;
  height: 35px;
  background: #046aaa;
  cursor: pointer;
}

#finalColor, #finalColor1 {
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
}

#copy {
  margin: 20px;
  cursor: pointer;
  filter: invert(2);
}

#copiedColor {
  font-size: 1.4em;
  font-family: "Quicksand", sans-serif;
}

#right {
  font-size: 1.4em;
  font-family: "Tiro Bangla", serif;
}

.coloredbox {
  height: 250px;
  width: 400px;
  margin: 10px 0;
  background-color: #158CBA;
}
