body {
  text-align: center;
  background-color: darkkhaki;
}
main {
    width: 800px;
    margin: 100px auto 100px auto;
    background-color: rgb(177, 130, 11);
    padding: 25px;
    border: 5px solid rgb(44, 44, 44);
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 1);
}

img {
  border-radius: 100px;
  width: 200px;
  height: 200px;
  border: 5px solid rgb(44, 44, 44);
}
h1 {
    color: rgb(137, 72, 6);
    font-family: cursive;
    font-weight: 500px;
}

p  {
    font-family: cursive;
    font-size: 25px;
    font-weight: bolder;

}
h3 {
  color: darkred;
}
a {
  color: brown;
  text-decoration: none;
}
