$off-black:#20222b;
$off-white:#a5afd7;
$blue : #3c4251;
$light-blue:#464b5e;
$spacing:1.6rem;
$s-size:1.2rem;
$m-size:1.6rem;
$l-size:3.2rem;
$xl-size:4.8rem;
$dark-blue:#333745;
$purple:#8357c5;
$desktop-breakpoint:45rem;
