.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay{
    align-items: center;
    // This will allow the items to get centered and this will make it take as minimum width it needs
    display: flex;
    transition: opacity 200ms ease-in-out;
    justify-content: center;
}

.ReactModal__Content{
    inset: 33%;
}

.ReactModalPortal .ReactModal__Overlay--after-open{
    opacity: 1;
}

// .ReactModalPortal .ReactModal__Overlay--before-close{
//     opacity: 0;
// }



.modal{
    color: white;
    background: $dark-blue;
    padding: $l-size;
    outline: none;
    text-align: center;
    max-width: 30rem;
}

.modal__title{
    margin: 0 0 $l-size 0;
}


.modal__body{
    margin: 0 0 $l-size 0;
    font-size: 2rem;
    font-weight: 300;
    word-break: break-all;

    // This helps us to break the word if it exceeds the length
}