#title{
    background-color: #ff4c68;
    color: white;
    
}

.container-fluid{
    padding: 3% 15%;
}

h1{
    font-family: "Montserrat-Black";
    font-size: 3.5rem;  
    line-height: 1.5; 
    font-family: 'Montserrat', sans-serif;
}


h2{
    font-family: 'Ubuntu';
    font-weight: 3rem;
    line-height: 1.5;
}

h3{
    font-family: 'Ubuntu';
    font-weight: bold;
}

/* headings */


    font-family: "Montserrat-Black";
    font-size: 3.5rem;  
    line-height: 1.5; 
    font-family: 'Montserrat', sans-serif;


p{
    color: #8f8f8f;
}

/* navigation bar */

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;  
    font-family: "Ubuntu";
  
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-weight: light;
    font-size: 1rem;

}

/* Download Buttons */

.download-button{
    margin: 5% 3% 5% 0;
}

/* Title-Image */

.title-image{
    width: 60%;
    transform: rotate(25deg);
    right: 30%;
}

#features{

    padding: 7% 15%;
    background-color: #fff;

}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color:#fff;
}

.testimonial-image{
    width:10%;
    border-radius: 100%;
    margin: 20px;

}

.carousel-item{
    padding: 7% 15%;

}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;

}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing section */

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

/* Call to action */

#cta{
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
    text-align: center;

}

.cta-heading{
    font-family: "Monserrat-Black";
    font-size: 3.5 rem;
    line height: 1.5;

}

/* footer */

#footer{
    padding: 7% 15%;
    text-align: center;
}

.social-icons{
    margin: 20px 10px;
}

@media (max-width: 1028 px){
    #title{
        text-align:center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
    }
}



